<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>NLP Text Analyzer</title>
    </head>

    <body>

        <header>
            <div class="">
                NLP
            </div>
            <div class="status online">
                ONLINE
            </div>
        </header>

        <h1 id="headline">NATURAL LANGUAGE PROCESSING<br>OF TEXT OR WEB ARTICLES</h1>

        <main>
            <section>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <!-- <input id="name" type="text" name="input" value="" onblur="onBlur()" placeholder="Name"> -->
                    <textarea id= "testText" name="input" 
                    placeholder="Hello!! type some text here.. or drop a web link.."></textarea>
                    <input type="submit" name="submit" value="Analyze" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                    <input type="button" name="last" value="Show me the Last result" onclick="return Client.handleGetLast(event)" onsubmit="return Client.handleGetLast(event)">
                </form>
            <section>

            <section>
                <strong>Analysis Results</strong>
                <hr>
                <div id="results">

                </div>
            </section>
        </main>

        <footer>
            <br>
            <p>NLP service provided through <a target="_blank" href="https://aylien.com/">Aylien.com</a></p>
            <a href="https://www.linkedin.com/in/alitehami/" target="_blank"
            >&COPY; Ali Tehami 2020</a>

        </footer>


        <!-- <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
           </script> -->


    </body>
</html>
